/* Add a background color to the whole page */
body {
    background-color: #141414;
    margin: 0;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
    padding: 10px;
    box-sizing: border-box;
    margin-top: 60px;
}

/* Title container that will be fixed at the top */
.title-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Background for the title */
    z-index: 10; /* Ensure it stays above other content */
}

/* Title styling */
.website-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    font-family: Courier New, sans-serif; /* Set font to Courier New, with a fallback to sans-serif */
}

#ShadowLive {
    width: 90vw; /* 90% of the viewport width */
    height: 85vh; /* Increase the height to 85% of viewport height */
    max-width: 1600px;
    max-height: 1000px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    #ShadowLive {
        width: 95vw;
        height: 80vh;
    }
}

@media (max-width: 768px) {
    #ShadowLive {
        width: 100vw;
        height: 75vh;
    }
}

@media (max-width: 480px) {
    #ShadowLive {
        width: 100vw;
        height: 70vh;
    }
}